<!DOCTYPE html>
<html>
  <head>
    <title>ForgetMeNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="apple-touch-icon" sizes="180x180" href=<%= image_url("apple-touch-icon") %>>
    <link rel="icon" type="image/png" sizes="32x32" href=<%=  image_url("favicon-32x32") %>>
    <link rel="icon" type="image/png" sizes="16x16" href=<%= image_url("favicon-16x16") %>>
    

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">
    <%= javascript_include_tag 'application' %>

     <% if logged_in? %>
      <script type='text/javascript'>
        window.currentUser = <%= render( "api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>

    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
